<div class="container">
    <h1 class="mt-3">Edit Category</h1>

    <form >
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">Id</label>
                <input type="text" [(ngModel)]="category.id" id="categoryId" name="categoryId" class="form-control" disabled>
            </div>

            <div class="mt-3">
                <label class="form-label">Category Name</label>
                <input type="text" [(ngModel)]="category.name" id="categoryName" name="categoryName" class="form-control">
            </div>

            <div class="mt-3">
                <label class="form-label">Category UrlHandle</label>
                <input type="text" [(ngModel)]="category.urlHandle" id="categoryUrlHandle" name="categoryUrlHandle" class="form-control">
            </div>

            <!-- <div class="mt-3">
                <button type="submit" class=" btn btn-primary" (click)="updateCategory()">Update</button>
            </div>
            <div class="mt-3">
                <button type="submit" class=" btn btn-primary" (click)="backToCategory()">Back</button>
            </div> -->
            <div class="button-container mt-3">
                <button type="submit" class="btn btn-primary" (click)="updateCategory()">Update</button>
                <button type="submit" class="btn btn-primary ms-2" (click)="backToCategory()">Back</button>
            </div>
              
        </div>      

    </form>
</div>